/dist
/node_modules
/pgsql
.env
.DS_Store
*/**/.DS_Store
/System\ Volume\ Information
*/**/System\ Volume\ Information
/.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
